MYSQL_URL=jdbc:mysql://localhost:33064/pickfit
MYSQL_USER=pickfit
MYSQL_PASSWORD=pickfit
REDIS_URL=redis://localhost:63794
RABBITMQ_URL=amqp://guest:guest@localhost:56724
DATADOG_SERVICE=pickfit
SENTRY_DSN=
GRAFANA_DASHBOARD=pickfit-operations
