[submodule "apps/web"]
	path = apps/web
	url = https://github.com/pickfit-ai/pickfit-fe.git
	branch = develop
[submodule "services/api"]
	path = services/api
	url = https://github.com/pickfit-ai/pickfit-be.git
	branch = develop
