[submodule "pickfit-fe"]
	path = pickfit-fe
	url = https://github.com/pickfit-ai/pickfit-fe.git
	branch = develop
[submodule "pickfit-be"]
	path = pickfit-be
	url = https://github.com/pickfit-ai/pickfit-be.git
	branch = develop
